/* -- MODIFY-LIST-ITEM STYLING -- */
div {
  background: linear-gradient(90deg, #1413e0, #243b55);
  text-align: center;
  padding-block: 5px 25px;
  border-radius: 75px;
}

/* H2 AND P */
h2,
p {
  color: #fff;
}

p {
  font-weight: bold;
}