/* -- PAGE-NOT-FOUND STYLING -- */
.not-found {
  text-align: center;
  margin-top: 50px;

  a {
    color: blue;
    text-decoration: underline;
  }

  p {
    color: red;
    font-size: 1.8em;
    font-weight: bold;
  }

  button {
    width: 125px;
  }
}
