/* -- GAME-LIST-ITEM STYLING -- */
.game-list-item {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* EVEN / ODD CARDS */
  &.even {
    background-color: #330;

    &:hover h2 {
      color: #ffcc00;
    }
  }

  &.odd {
    background-color: #333;

    &:hover h2 {
      color: #00bfff;
    }
  }

  /* OTHER */
  h2,
  h3 {
    line-height: 1;
  }

  mat-card-header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  h2 {
    transform: translateY(-25px);
  }

  img {
    border-radius: 25px;
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}