/* game-list-item.component.scss */
.game-list-item {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &.even {
    background-color: #330;

    &:hover h2 { color: #ffcc00; }
  }

  &.odd {
    background-color: #333;

    &:hover h2 { color: #00bfff; }
  }

  h2 {
    color: white;
    text-align: center;
  }

}
