/* -- GAME-FORM STYLING -- */
form {
  background-color: darkgreen;
  color: #fff;
  display: grid;
  grid-template-areas:
    "title dev"
    "genre year"
    "platform img"
    "price price"
    "notes notes"
    "completed completed"
    "submit submit";
  grid-template-columns: 1fr 1fr;
  gap: 15px 25px;
  justify-items: center;
  text-align: center;
  padding: 15px;

  /* DIVS */
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .completed {
    align-items: center;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
  }

  /* FORM ELEMENTS */
  input,
  textarea {
    text-align: center;
    padding: 8px;
    width: 230px;
  }

  label {
    font: bold 16px sans-serif;
    margin-bottom: 5px;
  }

  textarea {
    resize: none;
    height: 100px;
    width: 500px;
  }

  /* BUTTONS */
  .completed input[type="checkbox"] {
    height: 25px;
    width: 25px;
  }

  button {
    font: bold 15px sans-serif;
    grid-area: submit;
    justify-self: center;
    padding: 8px 16px;
  }

  /** APPLYING GRID AREAS
    * I wrote these in single lines to make code cleaner
    * I learned it from VSC extension: Prettier Formatter
   */
  div:nth-of-type(1) { grid-area: title; }
  div:nth-of-type(2) { grid-area: dev; }
  div:nth-of-type(3) { grid-area: genre; }
  div:nth-of-type(4) { grid-area: year; }
  div:nth-of-type(5) { grid-area: platform; }
  div:nth-of-type(6) { grid-area: price; }
  div:nth-of-type(7) { grid-area: img; }
  .notes { grid-area: notes; }
  .completed { grid-area: completed; }
}

.err-box {
  background-color: darkgreen;
  padding-top: 15px;
}

.error-box {
  background: #ffeaea;
  color: #a00000;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  display: flex;
  justify-self: center;
  justify-content: center;
}
