/* -- GAME-FORM STYLING -- */
.err-box {
  background-color: green;
  margin: 0;
  padding-block: 15px;

  .error-box {
    background-color: #ffeaea;
    color: #a00000;
    font-size: medium;
    font-weight: bold;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 12px;
    width: 75%;
    border: 2px solid black;
    border-radius: 5px;
  }
}

form {
  background-color: green;
  color: #fff;
  display: grid;
  grid-template-areas:
    "h2 h2"
    "title sequentialOrder"
    "dev genre"
    "year platform"
    "ageRating price"
    "experience gameRating"
    "images images"
    "notes notes"
    "completed completed"
    "completedHelp completedHelp"
    "submit submit";
  grid-template-columns: 1fr 1fr;
  gap: 15px 5px;
  justify-items: center;
  padding: 15px;
  border-top-width: 0;

  h2 {
    grid-area: h2;
    text-align: left;
    margin: 0 0 15px 25px;
  }

  /* FORM ELEMENTS */
  button {
    font: bold 15px sans-serif;
    grid-area: submit;
    justify-self: center;
    padding: 8px 16px;
  }

  mat-checkbox {
    grid-area: completed;
    margin-bottom: 25px;

    mat-label {
      font-size: 2.4em;
      font-weight: normal;
    }
  }

  div {
    display: block;
    width: 100%;

    &:nth-of-type(1) {
      grid-area: title;
    }

    &:nth-of-type(2) {
      grid-area: sequentialOrder;
    }

    &:nth-of-type(3) {
      grid-area: dev;
    }

    &:nth-of-type(4) {
      grid-area: genre;
    }

    &:nth-of-type(5) {
      grid-area: year;
    }

    &:nth-of-type(6) {
      grid-area: platform;
    }

    &:nth-of-type(7) {
      grid-area: ageRating;
    }

    &:nth-of-type(8) {
      grid-area: price;
    }

    &:nth-of-type(9) {
      grid-area: experience;
    }

    &:nth-of-type(10) {
      grid-area: gameRating;
    }

    &:nth-of-type(11) {
      grid-area: images;

      mat-form-field {
        &.submitted.mat-form-field-invalid {
          &.has-valid-image {
            margin-bottom: 115px;
          }
        }
      }
    }

    &:nth-of-type(12) {
      grid-area: notes;
    }

    &:nth-of-type(13) {
      font-size: 15px;
      text-align: center;
      grid-area: completedHelp;
      margin-top: 10px;
      transform: translateY(-50px);
    }
  }

  mat-form-field {
    display: block;
    width: 100%;

    input,
    textarea {
      font-size: 1.8em;
      text-align: center;

      &:focus {
        border: none;

        ::placeholder {
          color: lightgrey;
          font-size: 1em;
        }
      }
    }

    mat-label {
      color: white;
      font: bold 16px sans-serif;
      margin-bottom: 5px;
    }

    input {
      height: 25px;
    }

    textarea {
      margin-top: 24px;
      height: 100px;
      resize: none;
    }

    mat-error {
      font-size: 2em;
      line-height: 1.5;
      margin-top: 25px;
    }

    &.mat-form-field-invalid.submitted {
      margin-bottom: 45px;
    }
  }
}

@media only screen and (max-width: 600px) {
  form {
    background-color: green;
    color: #fff;
    display: grid;
    grid-template-areas:
      "h2 h2"
      "title title"
      "sequentialOrder sequentialOrder"
      "dev dev"
      "genre genre"
      "year year"
      "platform platform"
      "ageRating ageRating"
      "price price"
      "experience experience"
      "gameRating gameRating"
      "images images"
      "notes notes"
      "completed completed"
      "completedHelp completedHelp"
      "submit submit";
    grid-template-columns: 1fr 1fr;
    gap: 15px 5px;
    justify-items: center;
    padding: 15px;
    border-top-width: 0;
  }
}