form {
  background-color: darkgreen;
  color: #fff;
  display: grid;
  grid-template-areas:
    "title dev"
    "genre year"
    "platform img"
    "notes notes"
    "completed completed"
    "submit submit";
  grid-template-columns: 1fr 1fr;
  gap: 15px 25px;
  justify-items: center;
  text-align: center;
  padding: 15px;

  input,
  textarea {
    width: 230px;
    padding: 8px;
    text-align: center;
  }

  div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  label {
    font: bold 16px sans-serif;
    margin-bottom: 5px;
  }

  textarea {
    resize: none;
    height: 100px;
    width: 500px;
  }

  .completed {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .completed input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }

  button {
    grid-area: submit;
    justify-self: center;
    padding: 8px 16px;
    font: bold 15px sans-serif;
    cursor: pointer;
  }

  /* NOTE: I wrote these in single lines to make code cleaner - I learned it from VSC extension: Prettier Formatter */
  div:nth-of-type(1) { grid-area: title; }
  div:nth-of-type(2) { grid-area: dev; }
  div:nth-of-type(3) { grid-area: genre; }
  div:nth-of-type(4) { grid-area: year; }
  div:nth-of-type(5) { grid-area: platform; }
  div:nth-of-type(6) { grid-area: img; }
  .notes { grid-area: notes; }
  .completed { grid-area: completed; }
}
