@if (loading) {
  <div class="loading-screen">
    <p>🧐 Loading game details...</p>
    <div class="spinner"></div>
  </div>
} @else {
  @if (game) {
    <div class="game-details">
      <!-- Title -->
      <h2>{{ game.title.trim() | Normalizespaces | Titlecase }}</h2>

      <!-- Image -->
      <img
        [src]="game.imageUrl"
        [alt]="
          (game.title.trim() | Normalizespaces | Titlecase) +
          ' by ' +
          (game.developer.trim().split(',')[0] | Normalizespaces | titlecase)
        "
        [title]="
          (game.title.trim() | Normalizespaces | Titlecase) +
          ' by ' +
          (game.developer.trim().split(',')[0] | Normalizespaces | titlecase)
        "
        class="game-image"
      />

      <div class="info-p">
        <!-- ID -->
        <p><span class="label-name">ID:</span> {{ game.id }}</p>

        <!-- Sequential Numbering -->
        <p><span class="label-name">
          Sequential Numbering:</span> {{ game.sequentialNumbering ? game.sequentialNumbering : 'N/A'}}</p>

        <!-- Developer -->
        <p>
          <span class="label-name">
            {{
              (game.developer.trim().split(',').length || 0)
                | i18nPlural: { '=1': 'Developer:', other: 'Developers:' }
            }}
          </span>
          {{ game.developer.trim().replaceAll(',', ' |') | Titlecase }}
        </p>

        <!-- Genre -->
        <p>
          <span class="label-name">
            {{
              (game.genre.trim().split(',').length || 0)
                | i18nPlural: { '=1': 'Genre:', other: 'Genres:' }
            }}
          </span>
          {{ game.genre.trim().replaceAll(',', ' |') | Titlecase }}
        </p>

        <!-- Year Released -->
        <p>
          <span class="label-name">Year Released:</span>
          {{ game.yearReleased }}
        </p>

        <!-- Platform -->
        <p>
          <span class="label-name">
            {{
              (game.platform.trim().split(',').length || 0)
                | i18nPlural: { '=1': 'Platform:', other: 'Platforms:' }
            }}
          </span>
          {{ game.platform.trim().replaceAll(',', ' |') | Titlecase }}
        </p>

        <!-- Price -->
        <p>
          <span class="label-name">Price:</span>
          {{
            !isNaN(+game.price)
              ? (+game.price === 0
                ? 'Free'
                : ('$' + (+game.price | number: '1.2-2')))
              : 'N/A'
          }}
        </p>

        <!-- Notes -->
        <p>
          <span class="label-name">Notes:</span>
          @if (game.notes) {
            {{ game.notes.trim() }}
          } @else {
            N/A
          }
        </p>

        <!-- Status -->
        <p>
          <span class="label-name">Status:</span>
          <span [ngClass]="game.isCompleted ? 'status-completed' : 'status-incomplete'">
            {{ game.isCompleted ? 'Completed' : 'Incomplete' }}
          </span>
        </p>
      </div>
    </div>
  } @else {
    <p>Game not found.</p>
    <a routerLink="/">Back to Home</a>
  }
}
