// ***FIX LATER: Duplicate code BS problem here. 😬

/* -- GAME-DETAILS STYLING -- */
.info-p,
h2 {
  margin: 0;
}

/* OTHER */
img {
  margin: 0;
  max-height: 575px;
  border-radius: 25%;
}

.title {
  background-color: #330;
  line-height: 2.5;
  display: flex;
  height: 75px;
  align-items: center;
  gap: 15px;
  justify-content: center;
  border-radius: 35%;

  h2,
  span {
    color: #ffcc00;
  }

  mat-icon {
    //background: linear-gradient(90deg, #141e30, #243b55);
    margin-top: 7px;
    padding: 3px;
    height: auto;
    width: 35px;
    font-size: 3.5em;
  }
}

/* PARAGRAPHS */
.info-p {
  /* -- GAME-DETAILS STYLING -- */
  background-color: #222;
  padding: 15px 75px 35px 75px;
  border-radius: 75px;

  p {
    color: #fff;
    font-size: 1.8em;
    margin: 0;

    span:not(.notes-txt) {
      line-height: 2;
    }

    &:first-child {
      margin-top: 10px;
    }

    .label-name {
      font-weight: bold;
    }

    &.status {
      margin-bottom: 25px;
      margin-top: initial;
    }

    &.notes-p {
      text-align: center;

      .label-name {
        text-align: center;
        display: block;
        margin-top: 35px;
      }

      span:last-of-type {
        line-height: 1.5;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .info-p {
    padding-inline: 20px;

    p {
      margin-bottom: 25px;

      .label-name.developer,
      .label-name.genre,
      .label-name.platform {
        display: block;
        width: 100%;
      }

      .developer-value,
      .genre-value,
      platform-value {
        display: block;
        width: 100%;
        margin-top: 5px;
        /* optional spacing */
      }
    }
  }
}