/* -- GAME-DETAILS STYLING -- */
.info-p,
h2 {
  margin: 0;
}

/* PARAGRAPHS */
.info-p {
  background-color: #222;
  padding-block: 15px;
  padding-inline: 75px;
  border-radius: 75px;

  p {
    color: #fff;

    &:first-child {margin-top: 10px; }

    &:last-child { margin-bottom: 0; }

    .label-name { font-weight: bold; }
  }
}

/* OTHER */
img {
  margin: 0;
  max-height: 575px;
  border-radius: 25%;
}

h2 {
  background-color: #330;
  color: #ffcc00;
  text-align: center;
  line-height: 2.5;
  border-radius: 35%;
}
