@if (loading) {
<div class="loading-screen">
  <p>🧐 Loading game details...</p>
  <div class="spinner">
  </div>
</div>
} @else {
@if (game) {
<div class="game-details">
  <!-- Title -->
  <div class="title">
    <h2>{{ game.title.trim() | Normalizespaces | Titlecase }}</h2>
    <div matTooltip="Edit Info." matTooltipClass="custom-tooltip" matTooltipPosition="below" (click)="editGame(game)"
      [appHoverHighlight]="'#06e676'">
      <mat-icon>edit</mat-icon>
    </div>
  </div>

  <!-- Image -->
  <img [src]="game.imageUrl" [appFallbackImage]="'assets/no-img.jpeg'" [alt]="
          (game.title.trim() | Normalizespaces | Titlecase) +
          ' by ' +
          (game.developer.trim().split(',')[0] | Normalizespaces | titlecase)
        " [title]="
          (game.title.trim() | Normalizespaces | Titlecase) +
          ' by ' +
          (game.developer.trim().split(',')[0] | Normalizespaces | titlecase)
        " class="game-image" />

  <div class="info-p">
    <!-- Status -->
    <p [ngClass]="game.isCompleted ? 'status-completed' : 'status-incomplete'" class="status"
      [style.color]="game.isCompleted | GamestatusColor:'status'">
      {{ game.isCompleted ? 'Completed' : 'Incomplete' }}
    </p>

    <!-- ID -->
    <p><span class="label-name">ID:</span> {{ game.id }}</p>

    <!-- Developer -->
    <p>
      <span class="label-name developer">
        {{
        (game.developer.trim().split(',').length || 0)
        | i18nPlural: { '=1': 'Developer:', other: 'Developers:' }
        }}
      </span>
      <span class="developer-value">
        {{ game.developer.trim().replaceAll(',', ' |') | Titlecase }}
      </span>
    </p>

    <!-- Sequential Numbering -->
    <p><span class="label-name">
        Sequential Numbering:</span> {{ game.sequentialNumbering ? game.sequentialNumbering : 'N/A'}}</p>

    <!-- Genre -->
    <p>
      <span class="label-name genre">
        {{ (game.genre.trim().split(',').length || 0) | i18nPlural: { '=1': 'Genre:', other: 'Genres:' } }}
      </span>
      <span class="genre-value">
        {{ game.genre.trim().replaceAll(',', ' |') | Titlecase }}
      </span>
    </p>

    <!-- Year Released -->
    <p>
      <span class="label-name">Year Released:</span>
      {{ game.yearReleased }}
    </p>

    <!-- Platform -->
    <p>
      <span class="label-name platform">
        {{
        (game.platform.trim().split(',').length || 0)
        | i18nPlural: { '=1': 'Platform:', other: 'Platforms:' }
        }}
      </span>
      <span class="platform-value">
        {{ game.platform.trim().replaceAll(',', ' |') | Titlecase }}
      </span>
    </p>

    <!-- Age -->
    <p><span class="label-name">
        Age Rating:</span> {{ game.age | AgeyearPipe }}</p>

    <!-- Price -->
    <p>
      <span class="label-name">Price:</span>

      <span [style.color]="game.price | GamestatusColor:'price'">
        {{
        !isNaN(+game.price)
        ? (+game.price === 0
        ? 'Free'
        : ('$' + (+game.price | number: '1.2-2')))
        : 'N/A'
        }}
      </span>
    </p>

    <!-- Experience -->
    <p><span class="label-name">Experience:</span>
      {{ game.experience | ExperienceyearPipe }}
    </p>

    <!-- Game Rating -->
    <p>
      <span class="label-name">
        Game Rating: </span>
      <span class="star-rating">{{ game.rating | GameratingStar }}</span>
    </p>

    <!-- Notes -->
    <p class="notes-p">
      <span class="label-name">Notes:</span>
      <span class="notes-txt">
        @if (game.notes) {
        {{ game.notes.trim() }}
        } @else {
        N/A
        }</span>
    </p>
  </div>
</div>
} @else {
<p>Game not found.</p>
<a routerLink="/">Back to Home</a>
}
}