<div *ngIf="game; else notFound" class="game-details">
  <h2>{{ game.title }}</h2>

  <img
    [src]="game.imageUrl"
    [alt]="game.title + ' by ' + game.developer.split(',')[0]"
    [title]="game.title + ' by ' + game.developer.split(',')[0]"
    class="game-image"
  />

  <div class="info-p">
    <p><span class="label-name">ID:</span> {{ game.id }}</p>
    <p><span class="label-name">Developer(s):</span> {{ game.developer }}</p>
    <p><span class="label-name">Genre(s):</span> {{ game.genre }}</p>
    <p><span class="label-name">Year Released:</span> {{ game.yearReleased }}</p>
    <p><span class="label-name">Platform:</span> {{ game.platform }}</p>

    <p>
      <span class="label-name">Notes: </span>
      <span *ngIf="game.notes; else noNotes">{{ game.notes }}</span>
      <ng-template #noNotes>N/A</ng-template>
    </p>

    <p>
      <span class="label-name">Status: </span>
      <span [ngClass]="game.isCompleted ? 'status-completed' : 'status-incomplete'">
        {{ game.isCompleted ? 'Completed' : 'Incomplete' }}
      </span>
    </p>
  </div>
</div>

<ng-template #notFound>
  <p>Game not found.</p>
  <a routerLink="/">Back to Home</a>
</ng-template>
