/* -- GAME-DETAILS STYLING -- */
.info-p,
h2 {
  margin: 0;
}

/* PARAGRAPHS */
.info-p {
  background-color: #222;
  padding: 15px 75px 35px 75px;
  border-radius: 75px;

  p {
    color: #fff;
    font-size: 1.8em;
    margin: 0;

    span:not(.notes-txt) {
      line-height: 2;
    }

    &:first-child {
      margin-top: 10px;
    }

    .label-name {
      font-weight: bold;
    }

    &.notes-p {
      text-align: center;

      .label-name {
        text-align: center;
        display: block;
        margin-top: 35px;
      }

      span:last-of-type {
        line-height: 1.5;
      }
    }

    &.status {
      margin-bottom: 25px;
      margin-top: initial;
    }
  }
}

/* OTHER */
img {
  margin: 0;
  max-height: 575px;
  border-radius: 25%;
}

h2 {
  background-color: #330;
  color: #ffcc00;
  text-align: center;
  line-height: 2.5;
  border-radius: 35%;
}