/* app.component.css */
h1 {
  color: #333;
  font-size: 3.2em;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 2.4rem;
}

.container {
  background-color: #f0f0f0;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #333;
  padding: 10px;

  a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}
