/* -- GLOBAL-LEVEL STYLING -- */

// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

html {
  font: normal 62.5% 'Segoe UI', sans-serif;

  @include mat.theme((color: (primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    ));

  .footer-nav1 .mdc-tooltip__surface,
  .footer-nav2 .mdc-tooltip__surface,
  .footer-nav3 .mdc-tooltip__surface {
    position: absolute;
    width: 115px;
  }

  .footer-nav1 .mdc-tooltip__surface {
    right: 5px;
    bottom: 10px;
  }

  .footer-nav2 .mdc-tooltip__surface {
    position: initial;
  }

  .footer-nav3 .mdc-tooltip__surface {
    left: 1px;
    top: 6px;
  }

  .custom-tooltip .mdc-tooltip__surface {
    font-size: 1.8em;
    line-height: 1;
  }

  .mdc-checkbox {
    --mat-checkbox-selected-focus-icon-color: white;
    --mat-checkbox-selected-icon-color: white;
    --mat-checkbox-unselected-focus-icon-color: white;
    --mat-checkbox-selected-hover-icon-color: white;
    --mat-checkbox-unselected-hover-icon-color: white;
    --mat-checkbox-unselected-icon-color: white;
    --mat-checkbox-selected-checkmark-color: black;
    margin-bottom: 3px;
  }

  body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: dark;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
    font-family: Roboto, "Helvetica Neue", sans-serif;

    // Reset the user agent margin.
    margin: 0;
  }

  /* COMMON HEADINGS */
  h1,
  h2,
  h3 {
    color: white;
    font-weight: bold;
    text-align: center;
  }

  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 2.8em;
  }

  h3 {
    font-size: 2.4em;
  }

  p {
    font-size: 1.8em;
  }

  .container:has(.page-game-list) .page-title::after,
  .container:has(.page-game-list-item) .page-title::after,
  .container:has(.page-modify-list-item) .page-title::after,
  .container:has(.page-game-form) .page-title::after {
    content: "S:";
  }

  .container:has(.page-game-details) .page-title::after {
    content: ":";
  }

  .container:has(.page-not-found) .page-title {
    display: none;
  }

  /* STATUS COLOURS */
  .status-completed,
  .status-incomplete {
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
  }

  .status-completed {
    color: #00e676;
  }

  .status-incomplete {
    color: #ff5252;
  }

  /* IMAGES */
  .game-image,
  img {
    margin-bottom: 10px;
    max-height: 500px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  /* BUTTONS */
  button {
    background: linear-gradient(90deg, #141e30, #243b55);
    color: #fff;
    font: bold 1.4em sans-serif;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background: linear-gradient(90deg, #243b55, #141e30);
    }

    &:not(.add-btn, .return-home) {
      width: 100px;
    }
  }

  /* CONTAINER */
  .container {
    background-color: #f0f0f0;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* LOADING PROCESS */
    .loading-screen {
      color: #888;
      font-style: italic;
      text-align: center;
      margin-top: 50px;
    }

    .spinner {
      margin: 1rem auto;
      height: 30px;
      width: 30px;
      border: 3px solid #ccc;
      border-radius: 50%;
      border-top-color: #00bcd4;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }

    /* NAVIGATION */
    .navbar {
      background: linear-gradient(90deg, #141e30, #243b55);
      margin-bottom: 70px;
      padding: 12px 0;
      border-radius: 6px;

      mat-icon {
        color: white;
        height: auto;
        text-decoration: none;
      }

      p {
        color: #ddd;
        font-size: 1.8em;
        margin: 25px 0 0 15px;
        align-self: flex-start;
        justify-self: flex-start;
        transition: color 750ms ease-in-out;

        &:hover {
          color: gold;
          font-weight: bold;
        }
      }

      nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: flex;
            gap: 15px;

            a {
              color: #f5f5f5;
              font-size: 1.8em;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }

      &:last-of-type {
        margin-top: 40px;
        padding: 20px 0;
        border-radius: 6px;

        li {
          margin-block: 15px;
          margin-left: 25px;
        }
      }
    }
  }
}