<div class="game-list">
  <h2>All Games</h2>

  <button mat-mini-fab aria-label="Add a new game" matTooltip="Add a new game." matTooltipClass="custom-tooltip" matTooltipPosition="above" (click)="addNewGame()" class="add-btn">
    <mat-icon>add</mat-icon>
  </button>

  <!-- Show loading animation -->
  @if (loading) {
  <div class="loading-screen">
    <p>🎮 Loading games...</p>
    <div class="spinner"></div>
  </div>
  } @else {
  <!-- Error message -->
  @if (errorMessage) {
  <div class="error">{{ errorMessage }}</div>
  }

  <!-- Show games list -->
  @if (games.length > 0) {
  @for (game of games; track game.id; let i = $index) {
  <div class="game-entry">
    <app-game-list-item [game]="game" [isEven]="i % 2 === 0">
    </app-game-list-item>

    <div class="game-actions">
      <button mat-mini-fab aria-label="Edit game" matTooltip="Edit the game {{game.title}}." matTooltipClass="custom-tooltip" matTooltipPosition="above" (click)="editGame(game)" class="edit-btn">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab aria-label="Delete game" matTooltip="Delete the {{game.title}} game? (WARNING: This action cannot be undone.)" matTooltipClass="custom-tooltip" matTooltipPosition="below" (click)="deleteGame(game)" class="delete-btn"
        >
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-mini-fab aria-label="View game" matTooltip="View details of {{game.title}}." matTooltipClass="custom-tooltip" matTooltipPosition="above" [routerLink]="['/games', game.id]" routerLinkActive="active" class="view-btn">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </div>
  </div>
  }
  } @else {
  <p class="no-games">No games found.</p>
  }
  }
</div>
