/* -- GAME-LIST STYLING -- */
:host {
  display: block;
  padding: 20px;
}

/* BUTTONS */
.game-list>button {
  margin-bottom: 25px;

}

.game-actions {
  text-align: center;
  margin-block: 10px 15px;
}

.error {
  background-color: #ffe0e0;
  color: #a30000;
  font-weight: 500;
  display: block;
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 6px;
}
